/* Global styles */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}

/* Header */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

/* Navigation */ 

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;  
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 0;
  background-color: black;
}


nav a:hover {
  border-bottom: 2px solid #fff;
}

/* Main content */

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

/* Footer */

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Media queries */

@media (max-width: 600px) {

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 10px 0;
  }

}
